{% macro govukBackLink(params) %}
{% from "@govuk-frontend-twig/macros/attributes.twig" import govukAttributes -%}

<a href="{%- if params.href | default(false) %}{{ params.href }}{% else %}#{% endif -%}" class="govuk-back-link{%- if params.classes | default(false) %} {{ params.classes }}{% endif %}"
  {{- govukAttributes(params.attributes ?? []) }}>
  {{- (params.html | default(false) ? params.html | raw : (params.text | default(false) ? params.text : 'Back')) -}}
</a>
{% endmacro %}
