{% macro govukInsetText(params) %}
{% from "@govuk-frontend-twig/macros/attributes.twig" import govukAttributes -%}

<div {%- if params.id | default(false) %} id="{{ params.id }}"{% endif %} class="govuk-inset-text {%- if params.classes | default(false) %} {{ params.classes }}{% endif %}"
{{- govukAttributes(params.attributes ?? []) }}>
  {{ params.html | default(false) ? params.html | trim | raw : params.text | trim }}
</div>
{% endmacro %}
