{% macro govukSkipLink(params) %}
{% from "@govuk-frontend-twig/macros/attributes.twig" import govukAttributes -%}

<a href="{{ params.href | default('#content') }}" class="govuk-skip-link{%- if params.classes | default(false) %} {{ params.classes }}{% endif %}" {{- govukAttributes(params.attributes ?? []) }} data-module="govuk-skip-link">
  {{- params.html | default(false) ? params.html | raw : params.text -}}
</a>
{% endmacro %}
