{% macro govukWarningText(params) %}
{% from "@govuk-frontend-twig/macros/attributes.twig" import govukAttributes -%}

<div class="govuk-warning-text {{- params.classes | default(false) ? ' ' ~ params.classes : '' }}"
  {{- govukAttributes(params.attributes ?? []) }}>
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-visually-hidden">{{ params.iconFallbackText | default("Warning") }}</span>
    {{ params.html | default(false) ? params.html | raw : params.text | default() }}
  </strong>
</div>
{% endmacro %}
