name: CI

on:
  workflow_call:

permissions:
  contents: read

jobs:
  lint:
    name: Lint
    strategy:
      fail-fast: false
      matrix:
        command:
          - npm run lint -- --max-warnings 0
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: "lts/*"
          cache: "npm"
      - run: npm ci --prefer-offline
      - run: ${{ matrix.command }}
