name: Test

on:
  workflow_call:
  schedule:
    - cron: "23 5 * * 4"

permissions:
  contents: read

jobs:
  test:
    name: "PHP: ${{ matrix.php-versions }}. Composer: ${{ matrix.composer-stability }}"
    strategy:
      fail-fast: false
      matrix:
        php-versions:
          - "lowest"
          - "latest"
        composer-stability:
          - stable
          - lowest
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: "lts/*"
          cache: "npm"
      - run: npm ci --prefer-offline
      - uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-versions }}
      - run: composer update --prefer-dist --no-progress --ansi --prefer-${{ matrix.composer-stability }}
      - run: npm test
